body{
    background-image: url(bg.jpg);
    height: 100%;
    width: 100%;
    
}

.container{
    color: rgba(223, 182, 17, 0.532);
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.dice {
    text-align: center;
    display: inline-block;
  
  }

  p {
    margin-top: 50px;
    font-size: 2rem;
    color: rgba(223, 182, 17, 0.532);
    font-family: 'Indie Flower', cursive;
  }
  
  img {
    width: 80%;
  }
  
#refreshButton{
    margin: auto;
    display: block;
    background-color: rgba(223, 182, 17, 0.532);
}

footer {
    background-color: transparent;
    color: rgba(223, 182, 17, 0.532);
    text-align: center;
    font-family: 'Indie Flower', cursive;
     margin-top: 70px;
     padding: 30px auto 20px;
}
  